<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <startup>
        </startup>
  <appSettings>
    <!-- en-GB, es-AR, it, etc -->
    <!-- '' means neutral -->
    <add key="CurrentCulture" value="" />
    <add key="CurrentUICulture" value="" />
    <add key="CurrentTheme" value="Office_Black" />
    <add key="CurrentLexicon" value="EIV.UI.UserTemplate.Lexicon.Mutual01" />
    <!-- http://192.168.1.174:8080/odataexample/odata/appexample.svc/ -->
    <!-- http://localhost:8080/odata/appexample.svc/ -->
    <add key="ServiceURL" value="http://192.168.1.174:8080/eivfinanciero/odata/eivfinanciero.svc/" />
    <add key="ServerName" value="SERVER2K8" />
    <!-- Specify the full path here -->
    <add key="Formulario_Assembly_Name" value="EIV.UI.Formularios.dll" />
    <!-- ... -->
  </appSettings>
</configuration>